*{
    box-sizing: border-box;
}



body{
    margin: 0;
    padding: 0;
    background-color: rgb(67, 89, 152);
}


header{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.search{
    background-color: transparent;
    border: 3px solid darkcyan;
    border-radius: 50px;
}


img{
    width: 30%;
    height: auto;
    margin: 0 3%;
}